*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  line-height: 1.5;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

:root {
    --color-accent: #CCC9DC
}

.page {
  height: 100%;
}

.page-dark {
    background-color: #000;
}