---
import Header from "../components/header.astro";
import "../styles/global.css";

import { getCollection } from "astro:content";

const craft = await getCollection("craft");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joshua Amaju | Home</title>
  </head>
  <body class="page-dark">
    <Header />

    <main class="container mx-auto space-y-6 px-4 py-10">
      <h2 class="text-white text-4xl font-semibold">Craft</h2>

      {
        craft.length > 0 ? (
          <ul class="crafts">
            {craft.map(({ slug, data }) => {
              const craft = data as { video: string; title: string };

              return (
                <li class="craft">
                  <video
                    loop
                    autoplay
                    playsinline
                    class="preview"
                    controls={false}
                    src={craft.video}
                  />

                  <div class="title-container">
                    <h4 class="title">
                      <a href={`/craft/${slug}`}>{craft.title}</a>
                    </h4>
                  </div>
                </li>
              );
            })}
          </ul>
        ) : (
          <h4 class="text-white text-xl">No Content</h4>
        )
      }
    </main>
  </body>
</html>

<style>
  html,
  body {
    min-height: 100vh;
  }

  .crafts > * + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 768px) {
    .crafts {
      gap: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @supports (display: grid) {
      .crafts > * + * {
        margin-top: 0;
      }
    }
  }

  .craft {
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    border: 0.2px solid theme(colors.gray.600);
  }

  .preview {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    background-color: theme(colors.gray.500);
  }

  .title-container {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    background-color: theme(colors.gray.700/0.4);
  }

  .title {
    color: #fff;
    font-weight: 600;
    font-size: theme(fontSize.xl);
  }
</style>
