<header class="header">
  <div class="brand">
    <h3>J/A</h3>
  </div>

  <nav class="nav">
    <ul class="nav__links">
      <li class="nav__link">
        <a href="/" class="link">Home</a>
      </li>

      <li class="nav__link">
        <a href="/craft" class="link">Craft</a>
      </li>

      <li class="nav__link">
        <a href="/contact" class="link">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style></style>
